<nav class="nav-bar">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a class="logo" routerLink="/login">
        <img class="logo-svg" src="../assets/image/expensez_logo.svg">
        <label class="logo-text">Expensez</label>
    </a>
    <ul class="nav-list">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-text" routerLink="/login" routerLinkActive="active">sign in</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-text" routerLink="/register" routerLinkActive="active">Sign up</a>
        </li>
    </ul>
</nav>